

SUPABASE_URL=https://gbuslgjxrfxtkqtvwihh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdidXNsZ2p4cmZ4dGtxdHZ3aWhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMjA5MTAsImV4cCI6MjA5NjY5NjkxMH0.ymdAfPPOKi8puzT0NI06V4lC0N68aPiwRfKgz1XI0W8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdidXNsZ2p4cmZ4dGtxdHZ3aWhoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEyMDkxMCwiZXhwIjoyMDk2Njk2OTEwfQ.FUbmCOPLHNBpsqprz1voJ2vcVc0hbtfmJePkR5NXZJA


CLOUDINARY_CLOUD_NAME=dj32hnhej
CLOUDINARY_API_KEY=638511812772547
CLOUDINARY_API_SECRET=XMK0KVnltnwlen0FgysGZr8nDFM

CLIENT_WEB_URL=http://localhost:3000
CLIENT_MOBILE_URL=

